<template>
    <v-app
        :class="{ 'pa-3': $vuetify.breakpoint.smAndUp }"
        :dark="darkTheme"
        style="background-color: #f6f6f6"
        id="inspire"
    >
        <v-main>
            <v-container fluid>
                <v-row dense>
                    <v-col>
                        <router-view :key="$route.fullPath"></router-view>
                    </v-col>
                </v-row>
            </v-container>
        </v-main>
        <!-- <v-footer dark padless>
            <v-card class="flex" flat tile>
                <v-card-text class="py-2 white--text text-center">
                    {{ new Date().getFullYear() }} —
                    <strong>Macbrame</strong>
                </v-card-text>
            </v-card>
        </v-footer> -->
        <snackbar></snackbar>
        <loader :visible="loading"></loader>
    </v-app>
</template>

<style>
html {
    overflow-y: auto;
    background-color: #f6f6f6;
}
</style>

<script>
import { mapState } from "vuex";
import Snackbar from "../layouts/Snackbar.vue";
import Loader from "../layouts/Loader.vue";

export default {
    data() {
        return {
            darkTheme: true,
            isAuthenticate: window.localStorage.getItem("isAuthenticate"),
            menuItems: [
                // { title: 'IP ASN', path: '/ip-asns', icon: 'view_list' },
                // { title: 'Diklat', path: '/diklat', icon: 'playlist_add_check' },
                // { title: 'Peserta', path: '/peserta', icon: 'people' },
            ],
            menuMaster: [
            ],
            notificationBubble: {},
            menuRender: true,
        };
    },
    mounted() {
        this.renderMenu();
    },
    methods: {
        renderMenu() {
            this.menuRender = false;

            this.menuItems = [
            ];

            this.$nextTick(function () {
                this.menuRender = true;
            });
        },
    },
    components: {
        snackbar: Snackbar,
        loader: Loader,
    },
    computed: {
        ...mapState("loader", ["loading"]),
    },
};
</script>
