<template>
    <v-overlay :value="visible">
        <v-progress-circular
            :indeterminate="true"
            rotate="2"
            size="80"
            width="7"
            color="light-blue"
        ></v-progress-circular>
    </v-overlay>
</template>

<script>
    export default {
        name: "loader",
        data() {
            return {
                visibility : typeof this.visible !== 'undefined' ? true : false
            }
        },
        props: ["visible"]
    }
</script>
