<template>
    <v-navigation-drawer width="330" v-model="drawerState" :clipped="false" app>
        <v-list-item>
            <v-list-item-avatar>
                <router-link to="/" tag="span" style="cursor: pointer">
                    <img
                        :src="$store.state.userData.avatar"
                        style="width: 45px"
                    />
                </router-link>
            </v-list-item-avatar>
            <v-list-item-content>
                <v-row no-gutters>
                    <v-list-item-title
                        style="font-size: 12px !important; font-weight: 500"
                        class="text-h6"
                    >
                        {{ $store.state.userData.fullName }}
                    </v-list-item-title>
                    <v-list-item-subtitle
                        style="font-size: 12px !important; font-weight: 400"
                    >
                        <span
                            style="text-transform: capitalize"
                            v-for="(role, index) in $store.state.userData.roles"
                            :key="role"
                        >
                            {{ role }}
                            <span
                                v-if="
                                    index <
                                    $store.state.userData.roles.length - 1
                                "
                                >,</span
                            >
                        </span>
                    </v-list-item-subtitle>
                </v-row>
            </v-list-item-content>
        </v-list-item>
        <v-list dense>
            <label v-for="item in menuItemState" :key="item.text">
                <v-list-item
                    two-line
                    v-if="!item.haveChild"
                    link
                    active-class="appBlue--text"
                    :to="item.path"
                    :exact="item.exact"
                    :query="item.query"
                >
                    <v-list-item-action style="margin-right: 20px">
                        <v-icon>{{ item.icon }}</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>
                            {{ item.title }} &nbsp;
                            <v-chip
                                small
                                v-if="item.bubble && item.bubble > 0"
                                :color="item.bubbleColor"
                                >{{ item.bubble }}</v-chip
                            >
                        </v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-group
                    v-if="item.haveChild"
                    no-action
                    :prepend-icon="item.icon"
                >
                    <template v-slot:activator>
                        <v-list-item-title>{{ item.title }}</v-list-item-title>
                    </template>
                    <v-list-item
                        style="padding-left: 40px"
                        v-for="(subItem, i) in childMenuItemState(item.subs)"
                        :key="i"
                        link
                        :to="{ path: subItem.path, query: subItem.query }"
                        :exact="subItem.exact"
                        active-class="appBlue--text"
                    >
                        <v-list-item-icon>
                            <v-icon v-text="subItem.icon"></v-icon>
                        </v-list-item-icon>
                        <v-list-item-title>
                            {{ subItem.title }} &nbsp;
                            <v-chip
                                small
                                v-if="subItem.bubble && subItem.bubble > 0"
                                color="error"
                                >{{ subItem.bubble }}</v-chip
                            ></v-list-item-title
                        >
                    </v-list-item>
                </v-list-group>
            </label>
        </v-list>
    </v-navigation-drawer>
</template>

<script>
export default {
    data() {
        return {
            instance: "Macbrame",
            appTitle: "Enterprise Resource Planning",
            mini: true,
        };
    },
    mounted() {},
    methods: {
        childMenuItemState: function (childItems) {
            // return childItems.filter((i) => this.hasPrivilege(i.priv));
            return childItems;
        },
    },
    computed: {
        drawerState: {
            get() {
                return this.$store.getters.drawerState;
            },
            set(v) {
                return this.$store.commit("toggleDrawer", v);
            },
        },
        menuItemState: function () {
            return this.menuItems.filter((j) => this.hasMenu(j.priv));
        },
        menuMasterState: function () {
            return this.menuMaster;
            // return this.menuMaster.filter((j) => this.hasPrivilege(j.priv));
        },
    },
    props: ["menuItems", "menuMaster"],
};
</script>
