<template>
  <v-snackbar
    v-model="store.snackbar"
    :bottom="store.y == 'bottom'"
    :color="store.color"
    :left="store.x == 'left'"
    :right="store.x == 'right'"
    :timeout="store.timeout"
    :top="store.y == 'top'"
                >
    {{ store.text }}
    <v-btn text color="accent" @click.native="store.snackbar = false">Close</v-btn>
  </v-snackbar>
</template>

<script>
export default {
  data () {
    return {
        store : {
            show: false,
            text: '',
            y : 'top',
            x : 'right',
            timeout : 6000,
            color : ''
        },
    }
  },
  mounted() {
      this.store = this.$store.state.snack;
  }
}
</script>
