<template>
    <v-app-bar short app class="appBlue">
        <v-app-bar-nav-icon
            @click.stop="drawerState = !drawerState"
        ></v-app-bar-nav-icon>
        <v-toolbar-title>
            <router-link to="/" tag="span" style="cursor: pointer">
                <v-row>
                    <v-col cols="2">
                        <img src="/images/logo_esdm.png" style="width: 48px" />
                    </v-col>
                    <v-col cols="8" style="font-size: 16px">
                        <div style="font-weight: bold">
                            {{ instance }}
                        </div>
                        <div>
                            {{ appTitle }}
                        </div>
                    </v-col>
                </v-row>
            </router-link>
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items class="hidden-xs-only">
            <!-- <v-menu
                v-if="showAlert"
                max-width="500"
                bottom
                left
                open-on-hover
                transition="slide-y-transition"
                offset-y
            >
                <template v-slot:activator="{ on, attrs }">
                    <v-badge
                        bottom
                        left
                        color="red lighten-1"
                        :content="alertUnread"
                        :value="alertUnread"
                        overlap
                    >
                        <v-btn icon v-bind="attrs" v-on="on">
                            <v-icon>mdi-bell-ring-outline</v-icon>
                        </v-btn>
                    </v-badge>
                </template>

                <v-list two-line>
                    <template v-for="(item, index) in alertItems">
                        <v-list-item
                            :key="item.alert_id"
                            @click="goToDiklatPage(item)"
                        >
                            <v-list-item-content>
                                <v-list-item-title
                                    v-text="item.title"
                                ></v-list-item-title>

                                <v-list-item-subtitle
                                    class="text--primary"
                                    v-text="item.subtitle"
                                ></v-list-item-subtitle>

                                <v-list-item-subtitle
                                    v-text="item.created_at"
                                ></v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>

                        <v-divider
                            v-if="
                                alertItems != null &&
                                index < alertItems.length - 1
                            "
                            :key="index"
                        ></v-divider>
                    </template>
                    <v-list-item
                        v-if="alertItems != null && alertItems.length == 0"
                    >
                        <v-list-item-content>
                            <v-list-item-subtitle style="text-align: center"
                                >No New Notification</v-list-item-subtitle
                            >
                        </v-list-item-content>
                    </v-list-item>
                </v-list>
            </v-menu> -->
        </v-toolbar-items>
        <v-toolbar-items>
            <v-btn
                text
                v-for="item in menuItems"
                :key="item.title"
                :to="item.path"
            >
                <v-icon left dark>{{ item.icon }}</v-icon>
                {{ item.title }}
            </v-btn>
        </v-toolbar-items>
    </v-app-bar>
</template>
<script>
import Auth from "../plugins/auth";

export default {
    data() {
        return {
            instance: "SISTEM INFORMASI ZONA INTEGRITAS",
            appTitle: "Kementerian Energi dan Sumber Daya Mineral",
            sidebar: false,
            menuItems: [
                // { title: 'Daftar', path: '/register', icon: 'person' },
                { title: "Masuk", path: "/login", icon: "lock_open" },
            ],
            // userId: this.$store.state.userData.user_id,
            alertItems: [],
            showAlert: true,
            alertUnread: 0,
        };
    },
    mounted() {
        this.menuItems = [
            {
                title: "Keluar",
                path: "/logout",
                icon: "exit_to_app",
            },
        ];
        if (this.$store.state.token != null) {
            // this.getAlert(this.userId);
        } else {
            this.showAlert = false;
        }
    },
    methods: {
        // getAlert: function(userId) {
        //     this.$http.get("alerts/" + userId).then(response => {
        //         this.alertItems = response.data;
        //         this.alertUnread = response.unread;
        //     });
        // },
        goToDiklatPage: function (item) {
            this.$http
                .patch("alert/" + item.alert_id + "/" + this.userId)
                .then((response) => {
                    this.getAlert(this.userId);
                    this.$router.push(
                        "/diklat-held/detail/" + item.diklat_held_id
                    );
                });
        },
    },
    computed: {
        drawerState: {
            get() {
                return this.$store.getters.drawerState;
            },
            set(v) {
                return this.$store.commit("toggleDrawer", v);
            },
        },
    },
    props: ["drawer"],
};
</script>
