<template style="background-color: #ffffff">
    <v-layout wrap class="mt-16">
        <span class="bg"></span>
        <span>
            <img
                style="
                    position: absolute;
                    width: 50%;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                "
                src="/images/background.png"
                alt=""
            />
        </span>
        <v-row style="">
            <v-col cols="12" md="6">
                <v-row align="center" justify="center">
                    <v-col cols="12" style="margin-bottom: 28px">
                        <v-row align="center" justify="center">
                            <img src="/images/logo.png" style="width: 81px" />
                        </v-row>
                    </v-col>
                    <h4 style="z-index: 1">LOGIN APLIKASI</h4>
                    <v-col
                        cols="12"
                        style="
                            margin-top: 25px;
                            margin-bottom: 34px;
                            text-align: center;
                        "
                    >
                        <h4>LOGIN</h4>
                    </v-col>
                    <v-col cols="12">
                        <v-row align="center" justify="center">
                            <v-col cols="10" md="5" style="padding-bottom: 0px">
                                <v-text-field
                                    label="Username"
                                    v-model="authLogin.username"
                                    outlined
                                ></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row align="center" justify="center">
                            <v-col cols="10" md="5" style="padding-bottom: 0px">
                                <v-text-field
                                    @keypress.enter="login()"
                                    label="Password"
                                    v-model="authLogin.password"
                                    outlined
                                    type="password"
                                ></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row align="center" justify="center">
                            <v-col cols="10" md="5" style="padding-bottom: 0px">
                                <v-btn block color="primary" @click="login()"
                                    >Sign In</v-btn
                                >
                            </v-col>
                        </v-row>
                        <!-- <v-row align="center" justify="center">
                            <v-col cols="10" md="5" style="padding-bottom: 0px">
                                <v-btn block color="primary" text
                                    >LUPA PASSWORD?</v-btn
                                >
                            </v-col>
                        </v-row> -->
                    </v-col>
                </v-row>
            </v-col>
        </v-row>
    </v-layout>
</template>

<script>
import Vue from "vue";
import Auth from "../../plugins/auth";

export default {
    data() {
        return {
            model: 0,
            colors: [
                "primary",
                "secondary",
                "yellow darken-2",
                "red",
                "orange",
            ],
            platformName: "App Name",
            authLogin: {
                username: "",
                password: "",
            },
            focused: true,
        };
    },
    mounted() {
        if (Auth.checkAuth()) {
            this.$router.push("dashboard");
        }
    },
    methods: {
        login: function () {
            Auth.login(this, this.authLogin);
        },
    },
    components: {},
};
</script>

<style scoped>
.bg {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("/images/background.png") no-repeat center center;
    background-size: cover;
    background-color: white;
    transform: scale(1.1);
}
</style>
