<template></template>
<script>
import Auth from "../../plugins/auth";
export default {
    data() {
        return {};
    },
    mounted() {
        console.log("masuk");
        if (this.$store.state.token != null) {
            Auth.logout(this);
        } else {
            this.$router.push("login");
        }
        this.$OneSignal.removeExternalUserId();
    }
};
</script>
